body{
}



.box{
    margin-top: 100px;
    border-style: double;
    border-width: 2px;
    border-color: black;
}

.horizontal{
    margin-left: 50px;
}

.picture{
    
    background-size: cover;
}