{% extends 'base.html' %}
{%include 'header.html'%}

{% block html_head %}
    <link rel="stylesheet" href="/static/index.css">
{% endblock %}
  

{% block title %} HI {% endblock %}

{% block body %} 
  {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
  {% endwith %}
    {% include "navbar.html" %}

   
      <div class="container-fluid">
        <div class="banner">
          <div id="option-container">
          <div class="row">
            <div class="col-3 selection petpic" style="background-image: url('{{ pet.pic_url}}');">
              <h3>Visit {{pet.pet_name}}'s Profile and Schedule Reminder</h3> 
                <p><form action="/profile">
                  <input type="submit" value="View Profile" class="center">
                </form><br>
              </p> 
            </div>

            <div class="col-3 selection vetpic">
              <h3>Veterinary Clinics Near You</h3> 
                <p><form action="/findvet">
                  <input type="submit" value="Find Veterinary Clinics" class="center">
                </form><br>
              </p> 
               
            </div>
            <div class="col-3 selection shoppic" >
              <h3>Shop for {{pet.pet_name}} </h3> 
                <p><form action="/shopping" id="shoppy">
                  <input type="submit" value="shopping" class="center">
                </form><br>
              </p> 
            </div>
          </div>
        </div>
        </div>
          
    
      </div>
    
    

    


    

    

{% endblock %}


