{% extends 'base.html' %}
{%include 'header.html'%}

{% block title %} HI {% endblock %}

{% block body %} 
  {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
  {% endwith %}
    {% include "navbar.html" %}
    <img src="/static/pets-3.jpg" alt="Pets main picture"  height="250" class='center'>
    <br>
    <br>
    <br>

    <h1 display: inline-block> Your Pet: {{pet.pet_name}}</h1>
    <h1><img src={{ pet.pic_url}} width="300" height="300" class='center' id="profilepic"></h1>
   
    <form action="/profile">
        <input type="submit" value="View Profile" class="center">
    </form><br>

    <form action="/findsalon">
      <input type="submit" value="Find Grooming Salons" class="center">
    </form><br>

    <form action="/findvet">
      <input type="submit" value="Find Veterinary Clinics" class="center">
    </form>
    

{% endblock %}