{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block body %} 
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="/verifyuser" method="POST" class="center">
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="pswrd" name="password"><br>
        <input type="submit" value="LOGIN">
    </form>
    <h4>Not registered? <a href = "http://localhost:5000/register">Register now</a></h4>

    <script src="/static/eventhandling.js"></script>

{% endblock %}