{% extends 'base.html' %}

{% block html_head %}
    <link rel="stylesheet" href="/static/profile.css">
{% endblock %}

{% block title %} {% endblock %}

{% block body %} 

    {% include "navbar.html" %}

    <div class="container">

        <div class="row">
            <div class="col-3 box picture" style="background-image: url('{{ pet.pic_url}}')" >
                
            </div>
            <div class="col-6">
                <div class="row box horizontal">
                    <div class="col-12">
                        <h3 > Pet parent:{{user.name}}</h3>
                        <h3 > Your Pet:{{pet.pet_name}}</h3>
                        <h3 > Pet Species:{{pet.species}}</h3>
                    </div>
                </div>
                <div class="row box horizontal">
                    <div class="col-12">
                        <h3 > Upcoming Appointments</h3>
                        <h3 > Your Pet:{{pet.pet_name}}</h3>
                        <h3 > Pet Species:{{pet.species}}</h3>
                    </div>
                </div>
                <div class="row box horizontal">
                    <div class="col-12">
                        <form action="/createVetAppt" method="POST">
                            <h3>Set Veterinary Appointment Reminder</h3>
                            <label for="vet_appt">{{pet.pet_name}}'s next veterinary appointment:</label>
                            <input id="vet_appt" type="datetime-local" name="vetdate" min="" max="2030-06-30T16:30"><br>

                            <label for="vet_clinic">at veterinary clinic:</label>
                            <input id="vet_clinic" type="text" name="clinicname" ><br>
                           
                            <button type="submit" id='reminder-button'>Set Reminder</button>  
                        </form>
                    </div>
                </div>
            </div>
        </div>
        

    </div>

    
    
    

    






{% endblock %}