{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block body %} 
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="/newuser" method="POST">
        <label for="fname">First name and last name:</label><br>
        <input type="text" id="fl_name" name="flname"><br>
        <label for="email">Email:</label><br>
        <input type="text" id="e_mail" name="email"><br>
        <label for="phone">Phone No.:</label><br>
        <input type="text" id="ph_no" name="phone"><br>
        <label for="zpcode">Zipcode:</label><br>
        <input type="text" id="zp_code" name="zpcode"><br>
        <label for="password">Set Password:</label><br>
        <input type="password" id="pswrd" name="password"><br>
        <label for="password">Confirm Password:</label><br>
        <input type="password" id="c_pswrd" name="cpassword"><br><br>
        <input type="submit" value="SIGN UP">
    </form>

    <script src="/static/eventhandling.js"></script>

{% endblock %}