{% extends 'base.html' %}

{% block html_head %}
    <link rel="stylesheet" href="/static/shopping.css">
{% endblock %}

{% block title %} {% endblock %}

{% block body %} 

    {% include "navbar.html" %}

    

    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <div>
            
            <form action="/filterproducts" method="POST">
                <h3>
                    Filters:
                </h3>
                <h4>
                    Product Type
                </h4>
                <div>
                {% for types in type_set%}

                    <input type="checkbox" id="filteroption" name="filter" value="{{types}}">
                    <label for="filteroption"> {{types}}</label><br>
                {% endfor %}
                </div><br>
                <input type="submit" value="filter">
            </form>
        </div>
        <div>
            <form action="/clearfilter" method="POST">
                
                <input type="submit" value="Clear Filter">
            </form>
        </div>
    </div>

    <div id="main">
        <button class="openbtn" onclick="openNav()">☰ Filter Products</button>  
        
    </div>

    <h2>PET PRODUCTS</h2>

    <div id="prodlist" class="row">
        {% for key, values in product_dict.items()%}
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4  mt-3 product-box {{product_dict[key][1]}}">

              <div class="card text-center bg-light">
                
                    <img class="card-img-top img-circle" id="shop-img" src={{product_dict[key][5]}} >
                
                <div class="card-body">
                    <h5 class="card-title">  {{product_dict[key][2]}} </h5>
                    <div class="price card-text">${{product_dict[key][6]}}</div>
                    <a class="btn btn-primary" href="/productpage/{{key}}">Details</a>
                </div>
              </div>
          </div>
      {% endfor %}
    </div>
    
      
      
   
    <script src="../static/javascript/sidebar.js"></script>




{% endblock %}