{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block body %} 
    {% include "navbar.html" %}
    <h2>VETERINARY CLINICS NEAR YOU</h2>
    <form action="/findvet" method="POST" class="center">
        <label for="zpsrch">Looking for vets in another area? enter the zipcode here:</label>
        <input type="text" id="zpsrch" name="zpsrch">
        <input type="submit" value="search">
    </form>

    
        <iframe
        width="600"
        height="450"
        style="border:0"
        loading="lazy"
        allowfullscreen
        src="https://www.https://www.google.com/maps/@{{latitude_longitude[0]}},{{latitude_longitude[1]}}z">
        </iframe>
        <script src="../static/javascript/javascriptfile.js"></script>