{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block body %} 
    {% include "navbar.html" %}
    <h2>VETERINARY CLINICS NEAR YOU</h2>
        <label for="zpsrch">Looking for vets in another area? enter the zipcode here:</label>
        <input type="text" id="zpsrch" name="zpsrch">
        <input type="button" value="search" id="search_btn">
        <br>
        <br>
        <br>

    <main>
        <section class="map">
          <div id="map" style="height: 600px;width: 600px;" class="center">
            <script src="../static/javascript/javascriptfile.js"></script>
        <script async
            src="https://maps.googleapis.com/maps/api/js?API_KEYallback=initMap">
        </script>
          </div>
        </section>
    </main>
        
       
{% endblock %}



    